body{
    background-color: black;
    color: whitesmoke;
}

.brand{
    font-family: 'Righteous', cursive;
}


footer{
	background: black;
	height: auto;
	width: 100vw;
	padding: 40px 0 0 0;
}

/*content*/
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: dodgerblue;
}

/* copyright*/
.footer-copyright{
    background: #000;
}

.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}

/* Media Querry */
@media only screen and (max-width: 768px){
    /*Mobile Phones*/
    .SocialImages img{
        width: 15px;
     }

     footer{
        height: 100px;
        padding: 0;
     }
}