body{
    background-color: whitesmoke;
}

#Welcome img{
    width: 3.125rem;
}

.LoginCard{
    margin-top: 5rem;
}

#userData{
    display: none;
}

.card{
    padding: 40px;
}

/* Media Querry */
@media only screen and (max-width: 768px){
    /*Mobile Phones*/
    #Welcome img{
        width: 1.875rem;
     }
}