/* Welcome Section*/

.ImageSection img{
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.WelcomeSegment{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Righteous', cursive;
}

.WelcomeSegment h1{
    font-size: 6.875rem;
}

#Welcome button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1.063rem;
    background-color : transparent;
    padding: 0.625rem;
    outline: none;
    border-radius: 0.25rem;
}

#Welcome button:hover {
    color: #001F3F;
    background-color: #fff;
}

.btn1{
    margin-right: 1.25rem;
}

/*Introductio Section*/

.IntroSection{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin: 7.5rem 0 7.5rem 0;
    padding: 0 5rem 0 5rem;
}

.IntroSection h3{
    font-size: 3.75rem;
}

.IntroSection p{
    font-size: 1.563rem;
}

/* Utility Section */
#Utility{
    background-color: black;
}

#Utility img{
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

#Utility h2{
    font-size: 40px;
    font-weight:700;
}

#Utlity p{
    font-size: 2.5rem;
}

/* Contact section */

#ContactForm{
    padding: 6.25rem;
}

#ContactForm fieldset{
    margin-top: 1.563rem;
}


/* Media Querry */
@media only screen and (max-width: 768px){
    /*Mobile Phones*/
    
    .WelcomeSegment{
        top: 40%;
        left: 40%;
    }

    .WelcomeSegment.navbar-active{
        top:80%;
    }

    .WelcomeSegment h1{
        font-size: 2rem;
    }

    #Welcome button{
        padding: 0.313rem;
        font-size: 0.625rem;
    }

    .btn1{
        margin-right: 0;
        margin-bottom: 0.313rem;
    }

    .IntroSection h3{
        font-size: 1.875rem;
    }
    
    .IntroSection p{
        font-size: 0.938rem;
    }
}